* {
    box-sizing: border-box;
}

body {
    height: 95vh;
    padding: 0.5rem;
    background-color: ;
}

header {
    text-align: left;
    height: 5%;
}

#logo {
    height: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 90%;
}

div {
    padding: 1rem;
    border: 1px solid black;
    box-shadow: 0 0 5px 2px black;
    width: 30vw;
    height: 100%;
}

form {
    text-align: center;
    height: 100%;
}

form p {
    display: inline-block;
}

.info-icon {
    vertical-align: text-top;
}

textarea {
    display: block;
    width: 100%;
    height: 70%;
}

fieldset input, #btn-result  {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
}

#btn-encriptar {
    background: linear-gradient(90deg, lightblue, lightgreen);
}

#btn-desencriptar {
    background: linear-gradient(90deg, lightpink, lightyellow);
}

.avatar {
    height: 20vh;
    display: block;
    margin: auto;
}

#btn-result {
    background: linear-gradient(grey, white);
}

footer {
    text-align: right;
    height: 5%;
}

footer p {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid blue;
    box-shadow: 0 0 2px 1px blue;
    border-radius: 0.5rem;
    font-weight: bold;
}
