body {
    padding: 1rem;
}

header {
    text-align: left;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

label input{
    width: 50%;
}

footer {
    text-align: right;
}

footer p {
    display: inline;
    border: 1px solid blue;
    border-radius: 0.5rem;
    padding: 0.25rem;
    box-shadow: 0 0 1px 1px blue;
}

div {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 1px black;
    height: 75vh;
}

form {
    text-align: center;
    height: 100%;
}

section {
    padding: 0 auto;
}

input {
    margin: 0.25rem;
}

#user-input {
    height: 80%;
}

